 <section  ng-controller="TableCtrl">
    <section id="search">
        <p>Search: </p>
        <input id="searchbox" type="text" ng-model="search.name" placeholder="Search by company name">
    </section>
    <table id="Table1" class="display order-column nowrap">
            <thead>             
                <tr>
                    <th ng-click="sortby='name'; reverse=!reverse">Company</th>
                    <th ng-click="sortby='weissrank'; reverse=!reverse">Weiss</th>
                    <th ng-click="sortby='demotechrank'; reverse=!reverse">Demotech</th>
                    <th ng-click="sortby='policycount'; reverse=!reverse"># Policies</th> 
                    <th ng-click="sortby='total_complaints'; reverse=!reverse"># Complaints</th> 
                    <th ng-click="sortby='complaintpercentile'; reverse=!reverse"><img src=".\icons\header.png" style="height: 30px;"></th> 
                </tr>           
            </thead>
             <tr ng-repeat="company in companies.data| filter:search | orderBy:sortby:reverse">
                <td class="compName"><a href="#/detail/{{company.id}}">{{company.name}}</a></td>
                <td>{{company.weiss}}</td>
                <td>{{company.demotech}}</td>
                <td>{{company.policycount}}</td>
                <td>{{company.total_complaints}}</td>
                <td ng-class="{1:'best', 2:'average', 3:'worst'}[company.complaintpercentilegroup]"></td>
             </tr>
        </table>
       <p>Customer Satisfaction designed by <a href="http://www.thenounproject.com/Luis">Luis Prado</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p>
</section>