html{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
tr:nth-child(even) {
background-color: ghostwhite;
}

#searchbox{
	width:500px;
}

.gauge{
	height:300px;
	width:30%;
	display: inline-block;
}

.viewholder{
	width:80%;
	margin: auto;
}
td.compName a,td.compName a:visited{
	text-decoration: none;
	color:inherit;	
}
td{
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
}

td.worst{	
	background-image: url('../icons/sad.png');
}

td.average{	
	background-image: url('../icons/neutral.png');
}
td.best{	
	background-image: url('../icons/happy.png');
}


