html{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
#container{	
	width: 80%;
	margin: auto;
}
#header{
	margin-bottom: 40px;
	margin-top: 30px;
	border-bottom: 1px dotted grey;
	padding-bottom: 10px;
}
h1{
	font-size: 3em;
	font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	display: inline-block;
	display: inline-block;
	font-style: normal;
	font-weight: 100;
}

#logo{
	height: 100px;
	vertical-align: middle;
}
th{
	background-color:#eee;
	border: 3px solid white;
	padding-left: 5px;
}
tr:nth-child(even) {
background-color: ghostwhite;
}
#backbtn{
	text-decoration: none;
	color: currentcolor;
	background-color: #eee;
	padding: 5px;
	float: right;
}
#search *{
	display: inline-block;
}
#searchbox{
	width: 434px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.gauge{
	height:300px;
	width:30%;
	display: inline-block;
}
.chart{
	height:300px;
	width:45%;
	display: inline-block;
}

.viewholder{
	margin: auto;
}
td.compName a,td.compName a:visited{
	text-decoration: none;
	color:inherit;	
}
td{
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
}
.ratingicon{
	height: 30px;
	padding-left: 35%;
}
@media only screen and (max-width : 768px) {	
	#container{
		width:99%;
	}	
	.chart{
		width:100%;
	}
}
@media only screen and (max-width : 640px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	td.compName{
		padding-left: 0%;
		font-weight: bold;
		font-size: 1.1em;
		background-color: #eee;
	}
	
	.ratingicon{
		padding-left: 0%;
	}
	/*
	Label the data
	*/
	td:before{
		font-weight: bold;
		font-size: .8em;
		color: #555;
	}
	td:nth-of-type(1):before { padding-left: 0; }
	td:nth-of-type(2):before { content: "Weiss: "; }
	td:nth-of-type(3):before { content: "Demotech: "; }
	td:nth-of-type(4):before { content: "# Policies: "; }
	td:nth-of-type(5):before { content: "# Complaints: "; }
	td:nth-of-type(6):before { content: "Complaint Rating: "; }

	.gauge{
		width:100%;
	}
}

@media only screen and (max-width : 320px) {	
	.ratingicon{
		padding-left: 10%;
	}
}